dev_pusher:
    app_id: ~
    app_key: ~
    secret: ~
    debug: false # true if you want use the debug of all requests
    channel: notifications
    
    options:
        host: api-eu.pusher.com
        cluster: eu
        timeout: 30
        encrypted: true
    
    
